<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OSDbUserName" value=""/>
    <add key="OSDbPassword" value=""/>
    <add key="OSDbUserAgent" value=""/>
    <add key="OSDbLanguage" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>